<p id="notice"><%= notice %></p>

<h1>Listing Bets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Metric</th>
      <th>Estimated result date</th>
      <th>Actual result date</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.name %></td>
        <td><%= bet.metric %></td>
        <td><%= bet.estimated_result_date %></td>
        <td><%= bet.actual_result_date %></td>
        <td><%= bet.result %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
