<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bet.name %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @bet.metric %>
</p>

<p>
  <strong>Estimated result date:</strong>
  <%= @bet.estimated_result_date %>
</p>

<p>
  <strong>Actual result date:</strong>
  <%= @bet.actual_result_date %>
</p>

<p>
  <strong>Result:</strong>
  <%= @bet.result %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
