<%= form_for(@user_bet) do |f| %>
  <% if @user_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_bet.errors.count, "error") %> prohibited this user_bet from being saved:</h2>

      <ul>
      <% @user_bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :experiment_id %><br>
    <%= collection_select(:user_bet, :experiment_id, @open_bet_experiments, :id, :name, {}, {:class=>'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label "Your Bet" %><br>
    <%= f.text_field :user_bet, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Bet', :class => 'btn btn-primary' %>
  </div>
<% end %>
