<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Joyable Bet Board Beta", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "The Board", experiments_path %></li>
        <li><%= link_to "Place Bets", new_user_bet_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li>
          <% if logged_in? %>
            <%= link_to "Log Out", logout_path, method: "delete" %>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
